{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>ROBOTICS CLUB | IITJ </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'home/images/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'home/images/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'home/images/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'home/images/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'home/images/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'home/images/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'home/images/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'home/images/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/images/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'home/images/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'home/images/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="home/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicons -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/custom-responsive-style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript" src="{% static 'home/script/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/script/all-plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/script/plugin-active.js' %}"></script>



    <style>


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: #px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: #px #px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

    </style>
</head>





<body data-spy="scroll" data-target=".main-navigation" data-offset="150">
    <section id="MainContainer">
        <!-- Header starts here -->
        <header id="Header">
            <nav class="main-navigation">
                <div class="container clearfix">
                    <div class="site-logo-wrap">
                        <a class="logo" href="#"><img src="{% static 'home/images/black-robotics.png' %}" alt="Design Studio"></a>
                    </div>
                    <a href="javascript:void(0)" class="menu-trigger hidden-lg-up"><span>&nbsp;</span>
                    </a>
                    <div class="main-menu hidden-md-down">
                        <ul class="menu-list">
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#Services">Services</a></li>
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#About">About Us</a></li>
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#ContactUs">Contact</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="mobile-menu hidden-lg-up">
                    <ul class="mobile-menu-list">
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#Services">Services</a></li>
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#About">About Us</a></li>
                        
                        </li>
                        
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#ContactUs">Contact</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Header ends here -->
        <!-- Banner starts here -->
        <section id="HeroBanner">
            <div class="hero-content">
                <h1>Welcome to Robotics Club</h1>
                <p>We are team of passionate techno lovers making things out of innovation</p>
                {% if request.user.is_authenticated %}
                <a href="{% url 'edit' request.user.id %}" class="hero-cta">PROFILE</a>
                <a href="{% url 'myprojects' %}" class="hero-cta">MY PROJECTS</a>
                <a href="{% url 'allprojects' %}" class="hero-cta">ALL PROJECTS</a>
                <a href="{% url 'account_logout' %}" class="hero-cta">LOGOUT</a>
               
                {% else %}
                <a href="{% url 'account_login' %}" class="hero-cta">LOGIN</a>
                <a href="{% url 'account_signup' %}" class="hero-cta">SignUp</a>
                {% endif %}
            </div>
        </section>
        <!-- Banner ends here -->
        <!-- Services section starts here -->
        {% if request.user.is_authenticated %}
        <section id="Services">
            <div class="container">
                <div class="block-heading">
                    <h2>Services</h2>
                    
                </div>
                <div class="services-wrapper">
                    <div class="each-service">
                        <div class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                        <h5 class="service-title"><a href="{% url 'issue' %}">Issue Materials</a></h5>
                        <p class="service-description">Send request to issue materials from Robotics Club </p>
                    </div>
                    <div class="each-service">
                        <div class="service-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                        <h5 class="service-title">Forum</h5>
                        <p class="service-description">Open Community Forum for interaction and resource sharing</p>
                    </div>
                    <div class="each-service">
                        <div class="service-icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                        <h5 class="service-title">Upcoming Events</h5>
                        <p class="service-description">Update for upcoming events and hackathons </p>
                    </div>
                    <div class="each-service">
                        <div class="service-icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                        <h5 class="service-title"><a href="{% url 'mustknow' %}">Must Know Them</a></h5>
                        <p class="service-description">Connect with the best brains working on different technology and projects in our Institute</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section ends here -->
        <!-- About Us section starts here -->
        <section id="About">
            <div class="container">
                <div class="about-wrapper">
                    <h2>About Us</h2>
                    <p>Robotics Club has been showing its potential since its formation and is on continuous growth with the help of dedicated and motivated people who are and were part of it. Robotics Club welocmes everyone whether you want to build something or just want to explore. </p>
                </div>
            </div>
        </section>
        
        <!-- Portfolio section ends here -->
        <section id="Testimonial">
          <div class="testimonial-wrap">
          <div class="container">
            <div class="block-heading">
              <h2>Important Notification</h2>
            </div>
            <ul class="testimonial-slider">
              <li>---</li>
              
            </ul>
          </div>
        </div>
        </section>
        <!-- Contact us section starts here -->
        <section id="ContactUs">
            <div class="container contact-container">
                <h3 class="contact-title">Get In Touch</h3>
                <div class="contact-outer-wrapper">
                    <div class="address-block">
                        <p class="add-title">Contact Details</p>
                        <div class="c-detail">
                            <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span> <span class="c-info">Science and Technology Society Area, 1st floor,CSE dept. ,IIT Jodhpur</span>
                        </div>
                        <div class="c-detail">
                            <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span> <span class="c-info">+919451805040</span>
                        </div>
                        <div class="c-detail">
                            <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span> <span class="c-info">mishra.4@iitj.ac.in</span>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <p class="add-title">Send Us Message</p>
                            <form method="post" action="{% url 'message' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="primaryAction hero-cta"  type="submit" style="text-align: center;">
                                  <font style="color:black">Submit </font>
                            </button>
                            </form>

                           
                       
                    </div>
                </div>
            </div>
        </section>

            {% endif%}
        <!-- Contact us section ends here -->
        <!-- Footer section starts here -->
        <footer id="Footer">
            <div class="container">
                <div class="social-share">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="footer-logo-wrap">
                    Robotics Club &copy; 2019
                </div>
            </div>
        </footer>
        <!-- Footer section ends here -->

</body>

</html>