__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
.env
build/

*.sqlite3
migrations/
staticfiles/
ads/
media/
.idea/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/
.DS_Store