{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<br><br><br><br><hr>
<body>
{% for project in object_list %}
{% ifequal ids project.user.id%}
		<ul>
			
				<li>{{project.user.id}}</li>
				<li>{{project.topic}}</li>
				<li>{{project.description}}</li>
				<li>{{project.number_of_members_required}}</li>
				<li>{{project.status}}</li>
				<li>{{project.user.username}}</li>
				
		{% endifequal %}
		</ul>
			{% endfor %}
		
		
<h1><a href="{% url 'home'%}">create new project</a></h1>

</body>

{%endblock%}