{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br><br><br><br><hr>
<div class="container">
	<br><br><br><br>
<h2 style="color:white">New user</h2>
<form class="login" method="post" action=".">
{% csrf_token %}
<font style="color:white ;list-style-type:none">
{{ form|crispy }}</font>
<button type="submit" class="primaryAction hero-cta"><font style="color: black">
{% if object == None%}Create{% else %}Update{% endif %}</font>
</button>
</form>
<br><br><br>
</div>

{% endblock %}
